

module.exports.createPolyline = function (data) {
  return {
    points: data.map(function(elt){
      return {
        latitude: elt.latitude, longitude: elt.longitude
      }
    }),
    width: 3
  };
}


module.exports.createMarkers = function (data) {
  console.log(data);
  return data.map(function(elt){
    return {
      id: elt._id,
      latitude: elt.latitude,
      longitude: elt.longitude,
      iconPath: './img/melonPin.png',
      width: 30,
      height: 30,
      callout: {
        content: elt.title,
        display: 'BYCLICK',
        borderRadius: 6,
        padding: 10,
      }
    }
  });
}

module.exports.toIncidentTime = function(date){

  date = date.split('-');
  var year = parseInt(date[0]),
      month = parseInt(date[1]),
      day = parseInt(date[2]);
  console.log(year +'年 '+month+'月 '+day+'日');
  return year +'年 '+month+'月 '+day+'日'
}
